
<div class="ui-g" style="height:300px;">
  <div class="ui-g-4">
    <p-card  header="Choose Server">
      <p-header>
        <!-- Choose Server -->
      </p-header>

      <div class="ui-g">
        <div class="ui-g-12">
          <p-radioButton  class="sample" 
                          name="groupname" 
                          value="local" 
                          [(ngModel)]="serverMode" 
                          (click)="serverValue = '192.168.254.100'" 
                          label="Local"></p-radioButton>
          <br>
          <p-radioButton  class="sample" 
                          name="groupname" 
                          value="remote" 
                          [(ngModel)]="serverMode" 
                          (click)="serverValue = 'https://tester-holdem-server.4b63.pro-ap-southeast-2.openshiftapps.com:8080'" 
                          label="Remote"></p-radioButton>
        </div>
      </div>
      <div *ngIf="serverMode == 'local'" style="margin:10px;">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon" >192.168.254.</span>
              <p-dropdown [options]="LocalIPOptions" [(ngModel)]="serverValue"></p-dropdown>     
          </div>
        </div>
        <div *ngIf="serverMode == 'remote'" style="margin:10px;">
          <input  type="text" 
                  style="width:100%" 
                  pInputText 
                  [(ngModel)]="serverValue" 
                  placeholder="Website">
        </div>

      <p-footer >
        <p-message severity="info" text="Server : {{serverValue}}"></p-message> 
      </p-footer>
    </p-card>
  </div>
  <div class="ui-g-4">
    <button (click)="test()">xxx</button>
    <div style="width: 500px; height: 500px;">
      <p-chart type="pie" [data]="displayedRoutesCalled" ></p-chart>
    </div>
  </div>
  <div class="ui-g-4">

  </div>
</div>

<p-button icon="pi pi-replay" (click)="get()"></p-button>
<div class="p-grid p-justify-start ">

  <div class="p-col" *ngFor="let r of routesTree2">
    <h3 class="first">{{r.title}}</h3>
    <p-tree [value]="r.data" ></p-tree> 
  </div>
</div>


<router-outlet></router-outlet>
