<div class="p-grid">
  <!-- choose server -->
  <div class="p-col-3">
    <p-fieldset legend="Choose Server" [toggleable]="true">
      <p-radioButton  class="sample" 
                      name="groupname" 
                      value="local" 
                      [(ngModel)]="serverMode" 
                      (click)="serverValue = '192.168.254.100'" 
                      label="Local"></p-radioButton>
      <br>
      <p-radioButton  class="sample" 
                      name="groupname" 
                      value="remote" 
                      [(ngModel)]="serverMode" 
                      (click)="serverValue = 'https://tester-holdem-server.4b63.pro-ap-southeast-2.openshiftapps.com:8080'" 
                      label="Remote"></p-radioButton>
    
      <div *ngIf="serverMode == 'local'" style="margin:10px;">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon" >192.168.254.</span>
        <p-dropdown [options]="LocalIPOptions" [(ngModel)]="serverValue"></p-dropdown>     
      </div>
      </div>
      <div *ngIf="serverMode == 'remote'" style="margin:10px;">
        <input  type="text" 
                style="width:100%" 
                pInputText 
                [(ngModel)]="serverValue" 
                placeholder="Website">
      </div>
      <p-message severity="info" text="Server : {{serverValue}}"></p-message>
    </p-fieldset>
  </div>

  <!-- routes on/off list -->
  <div class="p-col-2">
    <p-button icon="pi pi-replay" (click)="get()"></p-button>
    
    <p-card header="routes :">
      <div *ngFor="let r of routesTree2;">
        <p-checkbox name="groupname" [(ngModel)]="r.show" [label]="r.title" binary="true"></p-checkbox>
      </div>
    </p-card>
  </div>

  <!-- routes tree list -->
  <div class="p-col-2">
    <div *ngFor="let r of routesTree2" style="margin: 10px;">
      <p-card  *ngIf="r.show">
        <h3 style="margin:0">{{r.title}}
          <p-button icon="pi pi-times" 
                    styleClass="ui-button-secondary"
                    (click)="r.show = false"></p-button>
        </h3>
        
        <p-tree [value]="r.data" ></p-tree> 
      </p-card>
    </div>
  </div>
  
  <!-- chart -->
  <div class="p-col-5">
    <p-button (click)="translateToChart()" label="show/refresh pie chart" styleClass="ui-button-warning"></p-button>
  
    <div style="width: 500px; height: 300px;">
      <p-chart type="pie" [data]="displayedRoutesCalled">
      </p-chart>
    </div>
    <p-message severity="info" *ngIf="displayedRoutesCalled" text="hover to show request count"></p-message>
  </div>
</div>








<router-outlet></router-outlet>
